<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Beepe Sign in</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap 3 CSS -->
    <link href="/linker/styles/bootstrap.min.css" rel="stylesheet" />

    <!-- Eternity Login , Registration & Forgot Password Forms CSS -->
    <link href="/linker/styles/forms.css" rel="stylesheet" />

    <!-- Modenizer -->
    <script src="/linker/js/lib/modernizr.js"></script>

    <!-- Animations CSS -->
    <link href="/linker/styles/animate.min.css" rel="stylesheet" />

    <!-- Font Icons -->
    <link href="/linker/styles/font-awesome.min.css" rel="stylesheet" />

    <!-- Google Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46143891-2', 'beepe.me');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div class="title">
Beepe
</div>
<div class="container eternity-form">
    <div class="login-form-section">

        <% if ((message) && (message != "")) { %>
        <div class="login-form-links link2 animated bounceIn" style="">
            <span><%=message%></span>
        </div>
        <% } %>

        <div class="facebook sign-in animated fadeInLeftBig">
            <a ahref="auth/facebook/<%=facebookscope%>" target = "_top">Sign in with Facebook</a>
        </div>
        <div class="google sign-in animated fadeInRightBig">
            <a ahref="auth/google/<%=googlescope%>" target = "_top">Sign in with Google+</a>
        </div>
        <div class="or animated bounceIn">or</div>
        <div class="login-form-links animated bounceIn">
            <form method="POST" action="/login">
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                        <input name="username" type="text" required="required" class="form-control" placeholder="Email Address" />
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                        <input name="password" type="password" required="required" class="form-control " placeholder="Password" />
                    </div>
                </div>
                <div class="login-form-action clearfix">
                    <!--<div class="checkbox pull-left">-->
                        <!--<div class="custom-checkbox">-->
                            <!--<input class="iCheck" type="checkbox" name="RememberMe">-->
                        <!--</div>-->
                        <!--<span class="checkbox-text pull-left">&nbsp;Remember Me</span>-->
                    <!--</div>-->
                    <a href="forgetpassword" class="beepe-blue">Forgot your password?</a>
                    <button type="submit" class="btn pull-right beepe">Sign in</button>
                </div>
            </form>
        </div>
        <br>
        <div class="beepe sign-in animated bounceIn">
            <a href="register">Sign up</a>
        </div>
    </div>
</div>
<br />
<br />
<br />

<!-- Jquery   -->
<script src="/linker/js/lib/jquery/jquery-1.9.1.min.js"></script>

<!-- PlaceHolder For Older Browsers -->
<script src="/linker/js/lib/placeholders.min.js"></script>

<!-- Custom Checkbox PLugin -->
<script src="/linker/js/lib/jquery/jquery.icheck.js"></script>

<!-- Media Query Support For Older Browsers [Ie 8 & lower] -->
<script src="/linker/js/lib/respond.min.js"></script>

<script src="/linker/js/lib/oauthpopup.js"></script>

<!-- For Initializing Checkbox And Focus Event For Textbox -->
<script type="text/javascript">
    $(function () {

        //Custom Checkbox For Light Theme
        $("input").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });


        //Custom Checkbox For Dark Theme
        $(".dark input").iCheck({
            checkboxClass: 'icheckbox_polaris',
            increaseArea: '20%'
        });


        //TextBox Focus Event
        $(".form-control").focus(function () {
            $(this).closest(".textbox-wrap").addClass("focused");
        }).blur(function () {
                    $(this).closest(".textbox-wrap").removeClass("focused");
                });

        if (isMobile()) {
            $('.facebook.sign-in').click(function(){
                window.location = "auth/facebook/<%=facebookscope%>";
            });
            $('.google.sign-in').click(function(){
                window.location = "auth/google/<%=googlescope%>";
            });
        } else {
            $('.facebook.sign-in').oauthpopup({
                path: "auth/facebook/<%=facebookscope%>",
                callback: function(e) {
                    setTimeout(function() {
                        parent.location.reload(true);
                    }, 100);
                }
            });

            $('.google.sign-in').oauthpopup({
                path: "auth/google/<%=googlescope%>",
                callback: function(e) {
                    setTimeout(function() {
                        parent.location.reload(true);
                    }, 100);
                }
            });
        }

        function isMobile() {
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
                return true;
            }
            return false;
        }
    });
</script>
</body>
</html>
